/*Reset*/
img{max-width: 100%;}

main{
    width: 100%;
}

ul {
    list-style: none;
}

/*Helpers*/
.ms_btn-orange{
    background-color: #CD3D0F;
    color: white;
    display: inline-block;
    width: fit-content;
}

.ms_btn-w-tr{
    background-color: rgba(255, 255, 255, 0.5);
    
}

.ms_mt-150{
    margin-top: 150px;
}

.ms_sub-title{
    margin:0;
    color: #787878;
    font-size: 1.3rem;
    line-height: initial;
}

.ms_title h2{
    font-size: 3rem;
}

.ms_fw-500{
    font-weight: 500;
}


.ms_br{border-radius: 20px; overflow: hidden;}
/*HEADER*/
header{
    position: fixed;
    top:0;
    width: 100%;
    z-index: 99999;
}
.sony-logo{
    width: 90px;
    margin: 0;
    font-size: 0;
}

.navbar-light .navbar-nav .nav-link, .nav-link{
    color: black;
    font-weight: 600;
}

.search_icon{
    width: 40px;
    height: 40px;
    font-size: 20px;
    margin-left: 10px;
}

/*dropdown full-width*/
.dropdown{
    display: contents;
}

.dropdown-menu.show{
    width: 100%;
    margin-top: -0.750rem;
    border: none;
    display: flex;
    justify-content: center;
}

/*jumbo*/
.game-banner{
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: 110px;
    background-size: cover;
    width: 100%;
    height: 730px;
    position: relative;
}

.return{
    background-image: url('img/jumbo-bg.png');
}

.it_take_two{
    background-image: url('img/it-takes-two-hero-banner-desktop.jpg');
    background-position-y: 0;
}


.jumbo-content{
    position: absolute;
    bottom:50px;
    max-width: 360px;
}

.hero-banner{
    max-width: 300px;
}

/*game list*/
.primary-games-items{
    width: 100%;
    cursor: pointer;
    border-radius: 15px;
    
}

.primary-games-items:hover{
    transform: translateY(-10px);
    transition: ease-in-out 0.5s;
}
#jumbo-games-list .row{
    margin: 20px 0;
}

.active{
    border:4px solid var(--bs-blue);
    box-shadow: inset 0 0 2px white;
    outline: 4px solid white;
    outline-offset: -8px;
    overflow: hidden;
}

/*Playstation 5*/
.ps5_item{
    cursor: pointer;
    opacity: 0.8;
}

.ps5_item h5{
    height: 60px;
}
#playstation-5 button{
    background-color: initial;
    border: none;
    padding: 0;
}

.ps5_item:focus, .ps5_item:hover{
    opacity: 1;
    border-bottom: 3px solid #1F83D4 !important;
}

/*.line-blue::after{
    content: '';
    display: block;
    width: 100%;
    height: 3px;
    margin: 0 auto;
    background-color: #00439C;
} */

/*Jumbo secondary*/




/*Playstation-plus*/
#playstation-plus{
    background-color: #BEBCBB;
}

.logo-plus{
    width: 360px;
}

#playstation-now{
    background-color: #161C3B;
}

/*Social*/

.social-container{
    padding:0 10px;
}
.container.small{
    max-width: 500px;
}


/*FOOTER*/
footer{
    background-color: #00439C;
}

.sony-logo{
    width: 100px;
}

.sie-logo{
    width: 150px;
}

footer ul{
    column-count: 3;
}

/*MEDIA QUERY*/

@media screen and (max-width:768px){
    .social-container{
        padding:0;
    }
    footer ul{
        column-count: 1!important;
    }
}

@media screen and (max-width:992px) {
    #playstation-5 h5{display: none;}
}

@media screen and (max-width:1200px) {
    
    #playstation-plus .col-6, #playstation-now .col-6{
        display: none;
    }
}

@media screen and (min-width:1200px){
    .ps5_item figure{
        padding:40px
    }
}

@media  screen and (max-width:576px) {
    
.container.small{
    max-width: 300px
}
}


