/*Reset*/
img{max-width: 100%;}

.container{
    max-width: 1500px;
}

/*Helpers*/
.ms_btn-orange{
    background-color: #CD3D0F;
    color: white;
    display: inline-block;
    width: fit-content;
}

.ms_mt-150{
    margin-top: 150px;
}

.ms_br{border-radius: 20px; overflow: hidden;}
/*HEADER*/
header{
    position: fixed;
    top:0;
    width: 100%;
    z-index: 99999;
}
.sony-logo{
    width: 90px;
    margin: 0;
    font-size: 0;
}

.navbar-light .navbar-nav .nav-link, .nav-link{
    color: black;
    font-weight: 600;
}

.search_icon{
    width: 40px;
    height: 40px;
    font-size: 20px;
    margin-left: 10px;
    
}

/*jumbo*/
#jumbo{
    background-image: url('img/jumbo-bg.png');
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: 120px;
    background-size: cover;
    width: 100%;
    height: 730px;
    position: relative;
}

#jumbo-secondary{
    background-image: url('img/it-takes-two-hero-banner-desktop.jpg');
    background-repeat: no-repeat;
    background-position-x: center;
    background-size: cover;
    width: 100%;
    height: 730px;
    position: relative;
}

.jumbo-content{
    position: absolute;
    bottom:50px;
    max-width: 360px;
    margin-left:50px
}

.hero-banner{
    max-width: 100%;
}

/*game list*/
.primary-games-items{
    width: 100%;
}

.primary-games-items img{
    min-width: 280px;
}
#jumbo-games-list .row{
    margin: 20px 0;
}


/*Playstation 5*/

#playstation-5 p{
    margin:0;
    color: #848484;
    font-size: 1.3rem
}

#playstation-5 h2{
    margin-bottom: 20px;
    font-size: 3rem;
}


#playstation-5 .gx-5{
    --bs-gutter-x: 8rem; /*gap-padding colonne*/
}

@media screen and (max-width:1200px) {
    h5{display: none;}
    #playstation-5 .gx-5{
        --bs-gutter-x: 2rem; /*gap-padding colonne*/
    }
}

/*Jumbo secondary*/
#jumbo-secondary-games-list{
    background-image: ;
}

